
html {
    background: url()
}
/* .video-container {
    position: fixed;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100%;
} */

img {
    width: 200px;
    height: 300px;
}

#about-me {
    margin-top: 200px;
}

#contact {
    margin-left: 450px;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
}




