

#video-container {
    position: fixed;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.nav-item {
    float: right;
    display: inline-block;
    margin-right: 20px;
    color: white;
}

.nav-link {
    color: silver;
    line-height: 30px;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Walter Turncoat', cursive;
}

h1 {
    font-family: 'Walter Turncoat', cursive;
    color: silver;
}

p {
    font-family: 'Walter Turncoat', cursive;
    font-size: 20px;
    color: silver;
}

#me {
    width: 200px;
    height: 300px;
}

#about-me {
    margin-top: 100px;
}

#contact-buttons {
    text-align: center;
     width: 100%;
     margin-bottom: 20px;
}

.card {
    max-width: 520px;
    margin-left: auto;
    margin-right: auto;
}

.card-title {
    font-family: 'Walter Turncoat', cursive;
    color: silver;
    font-weight: bold;
}

.card-text {
    font-size: 14px;
}

.github {
    margin-bottom: 30px;
    background-color:#252b31;
    color: silver;
    font-weight: bold;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

footer {
    position: relative;
    bottom: 0;
    text-align: center;
    width: 100%;
    color: silver;
}

@media screen and (max-width: 768px) {
    img {
        width: 100px;
        height: 200px;
    }
    #me {
        
        text-align: center;
    }
    #about-me {
        column-width: 100%;
    }
    .card {
        max-width: 300px;
    }
    .github {
        font-size: 15px;
        width: 250px;
    }
}

 


